  
  .skills {
    background: #FFFFFF;
    padding-bottom: 50px;
  }
  
.skill-h2 {
    font-size: 45px;
    line-height: 1.5;
    text-align: center;
    color: #2F3061;
  }
  
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
  }
  